@import url("bootstrap.min.css");


.topbar
{
     background-color:#999;
     position:absolute;
     top:0px;
     height:16%;
     width:1200px;
     right:-1px;
     margin-top:-11;
}
.nav
 {
     background-color:#999;
     position:absolute;
     top:10px;
     left:0px;
    height:100%;
    width:94px;
}
.navitem
{
    margin-top:140px;    
    color:white;
    font-size:20px;       
    text-align:center;    
}
